.gameHistoryGame {
    width: 360px;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    text-align: left;
}

.gameHistoryGame * {
    margin: 3px;
}

.gameHistoryTitle {
    text-align: center;
}

.gameHistory {
    width: 400px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.won{
    border: 2px solid green;
    color: green;
}

.lost {
    border: 2px solid red;
    color: red;
}