.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#difficulty {
    color: white;
    background-color: white;
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 10vw;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: white;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border: solid black 1px;
    border-radius: 3px;
    padding: 0;
}

#difficulty::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 18px;
    /* Set a specific slider handle width */
    height: 18px;
    border-radius: 100%;
    /* Slider handle height */
    background: #26a878;
    /* Green background */
    cursor: pointer;
    
}

.wordLength {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}